<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>

<%- include('./partials/nav.ejs') %>

<div class="not-found content">
    <h2>OPPPS, page not found</h2>
</div>

<%- include('./partials/footer.ejs') %>

</body>
</html>
